<div class="nutrition_facts-section">
    <div class="container">
        <div class="title">
            <span>{{ block.settings.title }}</span>
        </div>
        <div class="content">
            <div class="grid-item column four">
                <div>
                    <div class="grid-title">
                        <span>Processed grains</span>
                    </div>
                    <div class="grid-description">
                        <span>including refiend flours, quick-cooking oats, cornmeal, and white rice</span>
                    </div>
                </div>
            </div>
            <div class="grid-item column four">
                <div>
                    <div class="grid-title">
                        <span>Refiend sugar</span>
                    </div>
                    <div class="grid-description">
                        <span>including cane sugar, cane juice, brown sugar, corn syrup, and rice syrup</span>
                    </div>
                </div>
            </div>
            <div class="grid-item column four">
                <div>
                    <div class="grid-title">
                        <span>Low-Fat Dairy</span>
                    </div>
                    <div class="grid-description">
                        <span>including low-fat cheese, low-fat yogurt, and all other low-fat dairy products</span>
                    </div>
                </div>
            </div>
            <div class="grid-item column four">
                <div>
                    <div class="grid-title">
                        <span>Refiend oils</span>
                    </div>
                    <div class="grid-description">
                        <span>including canola oil, vegetable oil, soybean oil, cottonseed oil, and Hydrogenerated Partially-Hydrogenerated anything</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>